<template>
  <q-page>
    <div class="row q-pa-md">

          <div class="col-md-12 col-sm-12">
              <q-stepper
                v-model="step"
                header-nav
                ref="stepper"
                color="primary"
                animated
              >

                <q-step
                  :name="1"
                  title="BOD Candidates"
                  icon="settings"
                  :done="done1"
                >
                 
                    <candidates-listing v-if="!done1" :voteType="'BOD'">

                    </candidates-listing>

                    <q-banner v-else inline-actions rounded class="bg-green text-white">
                        You are done voting for BOD!

                        <template v-slot:action>
                          <q-btn @click="done1=false;"  flat label="CHANGE VOTES" />
                          
                        </template>
                    </q-banner>
                 

                  <q-stepper-navigation>
                    
                    <q-btn v-if="done1" @click="() => {step = 2 }" color="primary" label="CONTINUE" />
                    <q-btn v-else @click="() => { done1 = true;}" color="warning" label="DONE VOTING" />
                  </q-stepper-navigation>
                </q-step>


                <q-step
                  :name="2"
                  title="ELECOM Candidates"
                  icon="add_comment"
                  :done="done2"
                >
                  <candidates-listing v-if="!done2" :voteType="'ELECOM'">

                    </candidates-listing>

                    <q-banner v-else inline-actions rounded class="bg-green text-white">
                        You are done voting for ELECOM!

                        <template v-slot:action>
                          <q-btn @click="done2=false;"  flat label="CHANGE VOTES" />
                          
                        </template>
                    </q-banner>



                  <q-stepper-navigation>
                    <q-btn v-if="done2" @click="() => {step = 4 }" color="primary" label="CONTINUE" />
                    <q-btn v-else @click="() => { done2 = true;}" color="warning" label="DONE VOTING" />

                      <q-btn flat @click="step = 1" color="primary" label="Back" class="q-ml-sm" />
                  </q-stepper-navigation>
                </q-step>

                <q-step
                  :name="4"
                  title="TREASURY Candidates"
                  icon="add_comment"
                  :done="done4"
                >
                  Try out different ad text to see what brings in the most customers, and learn how to
                  enhance your ads using features like ad extensions. If you run into any problems with
                  your ads, find out how to tell if they're running and how to resolve approval issues.

                  <q-stepper-navigation>
                    <q-btn @click="() => { done4 = true; step = 4 }" color="primary" label="Continue" />
                      <q-btn flat @click="step = 2" color="primary" label="Back" class="q-ml-sm" />
                  </q-stepper-navigation>
                </q-step>


                <q-step
                  :name="3"
                  title="Wrapping up"
                  icon="add_comment"
                  :done="done3"
                >
                  Try out different ad text to see what brings in the most customers, and learn how to
                  enhance your ads using features like ad extensions. If you run into any problems with
                  your ads, find out how to tell if they're running and how to resolve approval issues.

                  <q-stepper-navigation>
                    <q-btn color="primary" @click="done3 = true" label="Finish" />
                    <q-btn flat @click="step = 2" color="primary" label="Back" class="q-ml-sm" />
                  </q-stepper-navigation>
                </q-step>




              </q-stepper>
          </div>
    </div>
  </q-page>
</template>

<script>
import _ from 'lodash';
export default {

  name: 'PageIndex',

  data() {
    return {
      step: 1,
      done1: false,
      done2: false,
      done3: false,
      done4: false
    }
  }

}


</script>
