<template>
  <q-page padding class="flex flex-center">
    <q-form
      @submit="loginUser"
      
      class="q-gutter-md"
    >
      <q-card class="login-card">
          <q-card-section>
                 <div class="flex flex-center">
                  <span class="text-h6">TC ONLINE VOTING APP</span>
                </div>

                <div class="flex flex-center">
                  <span class="text-subtitle2 text-center">A Secured, Fast and Reliable Voting App to take your breath away</span>
                </div>

                <div class="flex flex-center">
                  <span class="text-caption text-center"><i>"We tried to hacked it a million times but to no avail. TC VOTING APP is too much for us"</i></span> <span class="text-overline">-NASA Hackers</span>
                </div>

                <div class="row top-row q-col-gutter-x-md q-col-gutter-y-sm">
                    <div class="col-xs-12 col-md-12">
                      <q-input outlined v-model="login.username" label="VRN" color="blue-10" dense
                      :rules="[ val => val && val.length > 0 || 'VRN must not be empty']"
                      />
                    </div>

                    <div class="col-xs-12 col-md-12">
                      <q-input
                        dense
                        label="PIN"
                        v-model="login.password"
                        :type="isPwd ? 'password' : 'text'"
                        placeholder="Password"
                        outlined
                        :rules="[ val => val && val.length > 0 || 'PIN must not be empty']"
                      >
                        <template v-slot:append>
                          <q-icon
                            :name="isPwd ? 'visibility_off' : 'visibility'"
                            class="cursor-pointer"
                            @click="isPwd = !isPwd"
                          />
                        </template>
                      </q-input>
                    </div>
                  
                  </div>

                  <div class="row last-row">
                      <q-btn
                      type="submit"
                      class="login-btn"
                      unelevated rounded
                        :loading="loading4"
                        color="blue-10"
                       
                        outline
                        icon-right="trending_flat"
                      >
                        Sign In
                        <template v-slot:loading>
                          <q-spinner-hourglass class="on-left" />Signing in...
                        </template>
                      </q-btn>
                  </div>
          </q-card-section>
      </q-card>

    </q-form>
  </q-page>
</template>

<script>
import _ from 'lodash';

export default {
  
   name: 'Login',
  data () {
    return {
      dense: true,
      isPwd: true,
      loading4: false,
      login: {
        username: '', //VRN
        password: '', //PIN
        
      }
    }
  },

  methods: {

    loginUser() {
      console.log('im logged in!');
      let vm = this;
      let user = _.filter(this.$store.state.example.defaultUsers, function(user) {
        return user.vrn == vm.login.username && user.pin == vm.login.password
      });
      
      //update the current user
      if(user.length>0)
       {
         this.$store.dispatch('example/loginCurrentUser', user[0]);
       }

      else
      {
        this.$q.notify({
          message: 'Invalid VRN/PIN',
          position: 'top',
          color: 'negative'
        });
      }


      //push to home page
      this.$router.push('/').catch(e=>{
        
      });

    }
  }

}
</script>


<style lang="sass" scoped>
  .login-card
    width: 100%
    max-width: 350px
    font-family: 'Lato', sans-serif
    font-family: 'Roboto', sans-serif
    box-shadow: none
    padding: 20px 10px 20px 10px
    border: 1px solid #e4e4e4

  .top-row
    margin-top: 20px

  .last-row
    margin-top: 25px

  .login-btn
    font-family: 'Lato', sans-serif
    font-family: 'Roboto', sans-serif
    text-transform: none
    font-weight: 400
    font-size: 13px
    padding: 2px 10px 2px 10px
    float: right

  .hr
    border: 1px solid #e4e4e4
    margin-top: 20px
</style>