<template>
  <div>
      
  <div class="row">
        <div class="col-12">
            <q-banner v-if="totalCasted<maxVotes" inline-actions rounded class="bg-primary text-white">
              You can cast maximum of {{maxVotes}} votes for <span class="text-weight-bolder">{{voteType}}</span> Elections. <span>{{Number(maxVotes) - Number(totalCasted)}}/3 Remaining</span>
            </q-banner>

            <q-banner v-else inline-actions rounded class="bg-orange text-white">
              You reached the maximum allowed number of votes.
            </q-banner>

        </div>
    </div>
    
  <div class="row q-pa-xs flex flex-center" >
    
    

    <div style="" v-for="candidate in candidatesList" :key="candidate.id" class="col-md-3 col-sm-12">
       
        <div class="row q-pa-md">
            <div class="col-12">
                <q-card class="my-card shadow-8">
                    <q-card-section>
                      <div class="text-h6">
                          <span v-if="candidate.isVoted" style="color:green;">{{candidate.displayName}}
                            <q-badge  color="positive">
                              <q-icon name="done_outline" color="white"  />
                            </q-badge>
                          </span>

                           <span v-else>{{candidate.displayName}}
                           
                          </span>
                      </div>
                      <div class="text-subtitle2">Running for {{voteType}}</div>
                    </q-card-section>
                

                    <q-img :src="candidate.imgUrl" >
                    
                    </q-img>

                    <q-card-actions align="around">
              
                      <q-btn v-if="!candidate.isVoted" @click="toggleVote(candidate, true)" color="primary">VOTE</q-btn>

                      <q-btn v-else color="warning" @click="toggleVote(candidate, false)">UNVOTE</q-btn>
                    
                      <q-btn  icon="visibility" label="View Material" @click="selectedCandidateToShow = candidate; showMaterial=true;"  />
                  
                    </q-card-actions>
                  </q-card>
            </div>
        </div>

        
    </div>

    <view-material :candidateDetails="selectedCandidateToShow" v-if="showMaterial" @proceed="showMaterial=false;" @close="showMaterial=false;">

    </view-material>

  </div>
  </div>
</template>

<script>
import _ from 'lodash';
export default {
  // name: 'ComponentName',
  props: {
    voteType: String,
  },

  data () {
    return {
      maxVotes: 0,
      candidatesList: [],
      showMaterial: false,
      selectedCandidateToShow: {}
    }
  },

  created() {
      let theArray = [];
      if(this.voteType=='BOD')
      {
         theArray = this.$store.state.example.bodCandidatesList;
         this.maxVotes = this.$store.state.example.maxBodVotes;
      }

      else if(this.voteType=='ELECOM')
      {
        theArray = this.$store.state.example.elecomCandidatesList;
        this.maxVotes = this.$store.state.example.maxElecomVotes;
      }

      this.candidatesList = this.shuffle(theArray);

      console.log('im reached');

      
  },

  computed: {
    totalCasted() {
      let votesCast = 0;
      if(this.voteType=='BOD')
      {
         votesCast = _.countBy(this.$store.state.example.bodCandidatesList, (record)=>{
           return record.isVoted == true;
         });
      }

      else if(this.voteType=='ELECOM')
      {
        votesCast = _.countBy(this.$store.state.example.elecomCandidatesList, (record)=>{
           return record.isVoted == true;
         });
      }

      return typeof(votesCast.true)== 'undefined' ? 0 : votesCast.true;
    }
  },


  methods: {
    shuffle(array) {
        var currentIndex = array.length, temporaryValue, randomIndex;

        // While there remain elements to shuffle...
        while (0 !== currentIndex) {

          // Pick a remaining element...
          randomIndex = Math.floor(Math.random() * currentIndex);
          currentIndex -= 1;

          // And swap it with the current element.
          temporaryValue = array[currentIndex];
          array[currentIndex] = array[randomIndex];
          array[randomIndex] = temporaryValue;
        }

        return array;
      },


      toggleVote(vote, toggleValue)
      {
        let vm = this;
        if(toggleValue)
          {
                  if(this.totalCasted < this.maxVotes)
              this.$store.dispatch('example/toggleVoteValue', {vote: vote, isVoted: toggleValue});

            
              else
              this.$q.notify({
                message: 'You have reached the maximum allowed number of votes for ' + vm.voteType + ' Elections',
                position: 'top',
                color: 'negative'
              });
          }

        else this.$store.dispatch('example/toggleVoteValue', {vote: vote, isVoted: toggleValue});

      }


  },

  

}
</script>
