<template>
  <q-dialog v-model="confirm" @hide="imHidden()" >
    <q-card style="max-width: 700px;width:700px;height:550px">
     

        <q-card-section>

           <q-list bordered padding>
                                        <q-item-label header class="text-overline">Candidate Profile (With their Campaign Video Material)</q-item-label>

                                       <div class="row">
                                            <div class="col-md-12 col-sm-12">
                                                 <q-item clickable v-ripple @click="modaltype='youthcen'; showDependents=true">
                                                    <q-item-section>
                                                      <q-img contain :src="candidateDetails.imgUrl" style="height: 400px">
           
                                                      </q-img>
                                                    </q-item-section>
                                                  </q-item>
                                                    
                                                  <q-item>
                                                    <q-item-section>
                                                      <q-item-label>{{candidateDetails.displayName}}</q-item-label>
                                                      <q-item-label caption>
                                                        Name
                                                      </q-item-label>
                                                    </q-item-section>
                                                  </q-item>

                                                  <q-item clickable v-ripple>
                                                    <q-item-section>
                                                      <q-item-label>{{candidateDetails.birthday}}</q-item-label>
                                                      <q-item-label caption>
                                                        Birthday
                                                      </q-item-label>
                                                    </q-item-section>
                                                  </q-item>

                                                  <q-item clickable v-ripple>
                                                    <q-item-section>
                                                      <q-item-label>25</q-item-label>
                                                      <q-item-label caption>
                                                        Age
                                                      </q-item-label>
                                                    </q-item-section>
                                                  </q-item>

                                                   <q-item clickable v-ripple>
                                                    <q-item-section>
                                                      <q-item-label>{{candidateDetails.gender}}</q-item-label>
                                                      <q-item-label caption>
                                                        Gender
                                                      </q-item-label>
                                                    </q-item-section>
                                                  </q-item>


                                                   <q-item clickable v-ripple>
                                                    <q-item-section>
                                                      <q-item-label>{{candidateDetails.caption}}</q-item-label>
                                                      <q-item-label caption>
                                                        Verbatim
                                                      </q-item-label>
                                                    </q-item-section>
                                                  </q-item>

                                                   <q-item clickable v-ripple>
                                                    <q-item-section>
                                                      <q-item-label></q-item-label>
                                                      <q-item-label caption>
                                                      
                                                      </q-item-label>
                                                    </q-item-section>
                                                  </q-item>

                                                  <q-item clickable v-ripple>
                                                    <q-item-section>
                                                      <q-item-label></q-item-label>
                                                      <q-item-label caption>
                                                        Below is the Campaign Video Material
                                                      </q-item-label>
                                                    </q-item-section>
                                                  </q-item>
                                                

                                            </div>


                                           
                                       </div>
      </q-list>
        </q-card-section>

        <q-card-section >
              <div>
                  <q-card class="my-card" flat bordered>
                    <q-card-section horizontal>
                      <q-video
                        style="width:700px; height:300px;"

                        :src="candidateDetails.videoUrl"
                      />
                    </q-card-section>
                  </q-card>
              </div>
        </q-card-section>



      </q-card>
  </q-dialog>

</template>

<script>
export default {
  // name: 'ComponentName',
  props: {
    candidateDetails: {
      type: Object,
      required: false,
    }
  },
  data () {
    return {
      confirm: true
    }
  },

  methods: {
    proceed() {
      this.$emit('proceed');
    },

    imHidden() {
      this.$emit('close');
    }

  }
}
</script>
