<template>
  <q-layout view="lHh Lpr lFf">
   
      <q-header elevated>
      <q-toolbar>
    

        <q-toolbar-title>
          TC VOTING
        </q-toolbar-title>

        <div v-if="hasLoggedInUser()">{{loggedInUser.name}}</div>
      </q-toolbar>
      
    </q-header>
  
   
   

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import EssentialLink from 'components/EssentialLink.vue'
import _ from 'lodash';

const linksData = [
  {
    title: 'Docs',
    caption: 'quasar.dev',
    icon: 'school',
    link: 'https://quasar.dev'
  },
  {
    title: 'Github',
    caption: 'github.com/quasarframework',
    icon: 'code',
    link: 'https://github.com/quasarframework'
  },
  {
    title: 'Discord Chat Channel',
    caption: 'chat.quasar.dev',
    icon: 'chat',
    link: 'https://chat.quasar.dev'
  },
  {
    title: 'Forum',
    caption: 'forum.quasar.dev',
    icon: 'record_voice_over',
    link: 'https://forum.quasar.dev'
  },
  {
    title: 'Twitter',
    caption: '@quasarframework',
    icon: 'rss_feed',
    link: 'https://twitter.quasar.dev'
  },
  {
    title: 'Facebook',
    caption: '@QuasarFramework',
    icon: 'public',
    link: 'https://facebook.quasar.dev'
  },
  {
    title: 'Quasar Awesome',
    caption: 'Community Quasar projects',
    icon: 'favorite',
    link: 'https://awesome.quasar.dev'
  }
];

export default {
  name: 'MainLayout',
  components: { EssentialLink },
  data () {
    return {
      leftDrawerOpen: false,
      essentialLinks: linksData
    }
  },

  created() {
   // this.$q.dark.set(true);
  },

 computed: {
   loggedInUser() {
     return this.$store.state.example.currentUser;
   }
 },

 methods: {
   hasLoggedInUser() {
     console.log(_.isEmpty(this.loggedInUser));
     return !_.isEmpty(this.loggedInUser);
   }
 }

}
</script>
